.clearfix{clearfix: both;}
.banner_text_top p.one{
    font-size: 30px;
    height: 41px;
    color: #1b1b1b;
    text-transform: uppercase;
}
.banner_text_top p.two{
    font-size: 44px;
    font-family: Playfair Display;
    color: #1b1b1b;
}
.banner{
    height: 275px;
    /*background-color: rgba(239, 194, 143,.2);*/
}
.banner div.sub_text{
    margin-top: 30px;
    font-size: 18px;
    text-transform: none;
    line-height: 28px;
    color: #1b1b1b;
    margin-bottom:40px;
}
.start-button-container--15-aE {
    text-transform: uppercase;
    margin-bottom: 40px;
    
}
.justify-align {
    text-align: justify;
}
.justify-align>:not(span) {
    display: inline-block;
    float: none!important;
}
.start-button--2N8F3 {
    border: 1px solid #1b1b1b;
    display: inline-block;
    font-size: 15px;
    color: #232323;
    position: relative;
    cursor: pointer;
    
}
.start-button--2N8F3 a {
    display: inline-block;
}
.start-button--2N8F3:after{
    content: "";
    width: 0;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(228, 153, 65,.1);
    position: absolute;
    z-index: -1;
    transition: all .3s;
    
}
.start-button--2N8F3:HOVER{
    background: rgba(228, 153, 65,.1);
    transition: all .5s;
}
.justify-align>* {
    display: inline-block;
    float: none !important;
    font-size: 1rem;
    vertical-align: top;
}
.newhomepage--1lZop a {
    color: #232323 !important;
}
.start-button-container--15-aE {
    text-transform: uppercase;
    margin-bottom: 53px;
}
.justify-align:after {
    content: "";
    display: inline-block;
    width: 100%;
}
.start-button--2N8F3:active:after, .start-button--2N8F3:hover:after {
    width: 100%;
}
.banner_back{
    background: url(image/banner/Design_Your_Own3.png) no-repeat 0px 0px;
    background-size: cover;
    -webkit-background-size: cover;
    min-height: 300px;
}